@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#title-inforgeneses{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-image: url("/img/gray-wall.jpg");
}

body h1{
    color: white;
}

.container-fluid{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

#initial-info{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
}

#div-buttons{
    align-self: center;
    align-items: center;
    margin-left: 1rem;
}

#formEdit{
    margin-bottom: 2rem;
}

#editLabel{
    color: white;
}

#msg-success, #msg-erro{
    color: white;
}

#exampleModalLabel{
    color: black;
}

#table-op{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#table-op a{
    margin-right: 1rem;
}

